<launch>
 <!-- socket node -->
  <node pkg="modros" type="modros_node" name="modros_node">
    <param name="port_num" value="9090" />
    <param name="update_rate" value="30" />
  </node>

 <!-- socket node -->
  <node pkg="modros" type="controller_spring" name="controller"/>

 <!-- socket node -->
  <node pkg="modros" type="teleop_spring" name="teleop"/>

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="joy_springs_modros" >
    <param name="dev" type="string" value="/dev/input/js1" />
    <param name="deadzone" value="0.50" />
  </node>

</launch>