<launch>
  <!-- socket node -->
  <node pkg="modros" type="modros_node" name="modros_node">
    <param name="port_num" value="9090" />
    <param name="update_rate" value="30" />
  </node>

 <!-- controller node -->
  <node pkg="modros_examples" type="tuned_joy_ROV" name="controller_tuned"/>

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="two_springs_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.50" />
  </node>

</launch>